Wallpapers/ammunition_weapons-wallpaper-2560x1440.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/lock.png filter=lfs diff=lfs merge=lfs -text
Wallpapers/spring_tranquility-wallpaper-3840x2160.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/Atmosphere.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/amazing_mountain_milky_way_by_yakub_nihat-wallpaper-2560x1440.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/fog_wave-wallpaper-3840x2160.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/shit filter=lfs diff=lfs merge=lfs -text
Wallpapers/AyCALdF.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/lock_scaled.png filter=lfs diff=lfs merge=lfs -text
Wallpapers/black_guitar_2-wallpaper-1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/milky_way_12-wallpaper-1920x1080.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/space.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/wallhaven-325545.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/wallhaven-369261.jpg filter=lfs diff=lfs merge=lfs -text
Wallpapers/arch-logo-windows10-style.jpg filter=lfs diff=lfs merge=lfs -text
